#sec1 {
    float: left; 
    padding: 40px;
}

h1 {
    text-align: center; 
    background-color: seagreen; 
    padding-top: 15px; 
    padding-bottom: 15px;
    color: white;
}

#sec2 {
    float: right; 
    padding: 40px;
}

* {
    margin: 0;
    padding: 0;
    background-color: tan;
}

img {
    float: left;
}